hydra-core
hydra-joblib-launcher
hydra-submitit-launcher
certifi
tqdm
numpy
scipy
pandas
pyarrow
networkx
graphviz
pygraphviz
pyvis
scikit-learn
interpret
torch
tensordict
lightning
torchmetrics
tensorboard
matplotlib
ipykernel
ipywidgets
ucimlrepo
kaggle
