hydra-core
hydra-joblib-launcher
hydra-submitit-launcher
certifi
tqdm
numpy
scipy
pandas
pyarrow
networkx
graphviz
pygraphviz
pyvis
scikit-learn
scikit-image
imbalanced-learn
interpret
xgboost-cpu
torch
torchvision
tensordict
lightning
torchmetrics
torchinfo
tensorboard
swig
gymnasium
torchrl
tabulate
matplotlib
ipykernel
ipywidgets
ucimlrepo
kaggle
standard-imghdr