hydra-core
hydra-joblib-launcher
hydra-submitit-launcher
certifi
tqdm
numpy
scipy
pandas
pyarrow
networkx
graphviz
pygraphviz
pyvis
scikit-learn
interpret
xgboost
torch
tensordict
lightning
torchmetrics
tensorboard
swig
gymnasium
torchrl
tabulate
matplotlib
ipykernel
ipywidgets
ucimlrepo
kaggle
